{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-header-version="dawn13" data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
      style="width:40px;"
    >
      <span>
        {% render 'dawn13-icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            {% comment %}
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        {% render 'icon-arrow' %}
                        {% render 'icon-caret' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      {% render 'icon-arrow' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          {% endcomment %}

            {% comment %}
          <div style="padding: 8px 1rem 0rem;">
          <a href="/collections/sale-page-2021" style="width:100%; padding: 2rem;" class="custom-btn">SPECIALS</a>
          </div>
            {% endcomment %}
            
          <div class="bt-container custom-collections-list text-center" style="padding:0;">

  <div class="grid" id="shop-all-products">
    {% comment %}
    <div class="grid__item medium-up--one-sixth text-left text-center-sm">
      <a href="/collections" style="text-decoration:none; color:inherit; margin:0px;"><h5 class="collection-title">Shop All Products</h5></a>      
          	<a href="/collections" target="_blank" class="custom-btn">View more Shop All Products</a>
    </div>
    {% endcomment %}
    <div style="margin-bottom:0rem;" class="grid__item medium-up--five-sixths">
      <div class="collection-lists">
            
            <div class="item-wrapper">
            
              <a class="category-card"  href="https://thetrailerpartsoutlet.com/collections/trailer-axles">
                <div style="border-radius:4px;" class="img-wrap">
                	<img src="//thetrailerpartsoutlet.com/cdn/shop/collections/160619954257_140x.png?v=1655299460" alt="Trailer Axle">
                </div>
                <p class="category-card-text">Trailer Axles</p>
              </a>
			</div>
           
            <div class="item-wrapper">
            
              <a class="category-card" href="https://thetrailerpartsoutlet.com/collections/trailer-tires-wheels">
                <div class="img-wrap">
                	<img src="//thetrailerpartsoutlet.com/cdn/shop/collections/TF22575r15-2__73903.1570477915.500.750_140x.jpg?v=1685646465" alt="Trailer Tire &amp; Wheel">
                </div>
                <p class="category-card-text">Trailer Tires &amp; Wheels</p>
              </a>
			</div>
           
            <div class="item-wrapper">
            
              <a class="category-card" href="https://thetrailerpartsoutlet.com/collections/tk-trailer-kits">
                <div class="img-wrap">
                	<img src="//thetrailerpartsoutlet.com/cdn/shop/collections/161114751057_140x.jpg?v=1655299591" alt="TK Trailer Kits">
                </div>
                <p class="category-card-text">TK Trailer Kits</p>
              </a>
			</div>
           
            <div class="item-wrapper">
            
              <a class="category-card" href="https://thetrailerpartsoutlet.com/collections/axle-suspension">
                <div class="img-wrap">
                	<img src="//thetrailerpartsoutlet.com/cdn/shop/collections/3.5k_Suspension_Kit__36016.1565627175.500.750_140x.jpg?v=1718811477" alt="Trailer Axle Suspension">
                </div>
                <p class="category-card-text">Trailer Axle Suspension</p>
              </a>
			</div>
           
            <div class="item-wrapper">
            
              <a class="category-card" href="https://thetrailerpartsoutlet.com/collections/axle-service-kits">
                <div class="img-wrap">
                	<img src="//thetrailerpartsoutlet.com/cdn/shop/collections/5.2K-ELECTRIC-BRAKE-AXLE-SERVICE-KIT_140x.jpg?v=1718811141" alt="Axle Service Kits">
                </div>
                <p class="category-card-text">Axle Service Kits</p>
              </a>
			</div>
           
            <div class="item-wrapper">
            
              <a class="category-card" href="https://thetrailerpartsoutlet.com/collections/trailer-axle-repair-parts">
                <div class="img-wrap">
                	<img src="//thetrailerpartsoutlet.com/cdn/shop/collections/5.2k_bearing_kit__61072.1523849275.500.750_140x.png?v=1685646959" alt="Trailer Axle Repair Parts">
                </div>
                <p class="category-card-text">Trailer Axle Repair Parts</p>
              </a>
			</div>
           
            <div class="item-wrapper">
            
              <a class="category-card" href="https://thetrailerpartsoutlet.com/collections/trailer-components">
                <div class="img-wrap">
                	<img src="//thetrailerpartsoutlet.com/cdn/shop/collections/3.5k_straight_coupler__84405.1518385457.500.750_140x.jpg?v=1676926175" alt="Trailer Components">
                </div>
                <p class="category-card-text">Trailer Components</p>
              </a>
			</div>
           
            <div class="item-wrapper">
            
              <a class="category-card" href="https://thetrailerpartsoutlet.com/collections/trailer-plans-blueprints">
                <div class="img-wrap">
                	<img src="//thetrailerpartsoutlet.com/cdn/shop/collections/161811890257_140x.jpg?v=1655299748" alt="Trailer Plans / Blueprints">
                </div>
                <p class="category-card-text">Trailer Plans</p>
              </a>
			</div>
           
            <div class="item-wrapper">
            
              <a class="category-card" href="https://thetrailerpartsoutlet.com/collections/towing-accessories">
                <div class="img-wrap">
                	<img src="//thetrailerpartsoutlet.com/cdn/shop/collections/161815199825_140x.jpg?v=1685646763" alt="Towing Accessories">
                </div>
                <p class="category-card-text">Towing Accessories</p>
              </a>
			</div>

         
      </div>
  </div>

    
  </div>

            <div style="padding: 8px 1rem 0rem;">
          <a href="/collections/sale-page-2021" style="width:100%; padding: 2rem;" class="custom-btn">SPECIALS</a>
          </div>

</div>
            
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
              >
                {% render 'icon-account' %}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {% comment %}
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <noscript>
                    {%- form 'localization', id: 'HeaderCountryMobileFormNoScriptDrawer', class: 'localization-form' -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScriptDrawer">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        <select
                          class="localization-selector link"
                          name="country_code"
                          aria-labelledby="HeaderCountryMobileLabelNoScriptDrawer"
                        >
                          {%- for country in localization.available_countries -%}
                            <option
                              value="{{ country.iso_code }}"
                              {%- if country.iso_code == localization.country.iso_code %}
                                selected
                              {% endif %}
                            >
                              {{ country.name }} ({{ country.currency.iso_code }}
                              {{ country.currency.symbol }})
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                    {%- endform -%}
                  </noscript>

                  <localization-form class="no-js-hidden">
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}
                {% endcomment %}

                
                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <noscript>
                    {%- form 'localization',
                      id: 'HeaderLanguageMobileFormNoScriptDrawer',
                      class: 'localization-form'
                    -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScriptDrawer">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        <select
                          class="localization-selector link"
                          name="locale_code"
                          aria-labelledby="HeaderLanguageMobileLabelNoScriptDrawer"
                        >
                          {%- for language in localization.available_languages -%}
                            <option
                              value="{{ language.iso_code }}"
                              lang="{{ language.iso_code }}"
                              {%- if language.iso_code == localization.language.iso_code %}
                                selected
                              {% endif %}
                            >
                              {{ language.endonym_name | capitalize }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                    {%- endform -%}
                  </noscript>

                  <localization-form >
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>

                  
                  
                {%- endif -%}
              </div>

              
            {%- endif -%}

            <div style="display:flex; justify-content:space-between; flex-direction:column;">
              <a
                href="/pages/tracking"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
              >Order Tracking</a>

              <a
                href="/pages/contact-us"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
              >Contact Us</a>

              <a
                href="https://thetrailerpartsoutlet.com/apps/faqs"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
              >FAQ</a>

              </div>

            {% comment %}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>