{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

      {% comment %} Extract all option1 images from product object to be used in the variant label below {% endcomment %}
        {% if option.name == "Axle Options:" %}
        <script>console.log({{product.variants | json }})</script>
  
        {% assign variantMedia = '' %}
        {% for myVar in product.variants %}
          {% unless variantMedia contains myVar.options[0] %}
            {% assign imageURL =  myVar.featured_image.src | image_url %}
            {% assign comboTitleMedia = myVar.options[0] | append: ' -- ' | append: imageURL | append: ' !!! ' %}
            {% assign variantMedia = variantMedia | append: comboTitleMedia %}
          {% endunless %}
        {% endfor %}
        
        {% assign variantMediaArr = variantMedia | split: " !!! " %}
        
        <script>console.log({{variantMediaArr | json}})</script>
      {% endif %}
      {% comment %} ====================================================================================== {% endcomment %}



{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}

    <script>//console.log({{ option | json }})</script>
    
    {% if option.name == "Axle Options:" %}

      
    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >
        
        <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="variant-card" style="display:flex; flex-direction:column;">
          <img src="{% if variantMediaArr contains value %}#{% endif %}" alt="3500 lb Drop Trailer Axles" style="width:100%; border-radius:4px;">
          {{ value -}}
        </label>
      
    
    {% else %}

    <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >
      
    <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
      {{ value -}}
    </label>
      
    {% endif %}

    {% if value == 'Custom Spring Center (+3 Day Build Time) + $130' %}
      <div id="{{ option.name | replace: " ","-"}}" class="custom_spring_center_variant custom-option-slide {% if option.selected_value == value %}custom-slide-active{% endif %}" >
        <div class="custom-option-inner-container">
          
          <label for="properties[Hubface Selection]">Select a Standard Hubface:</label>         
          <select name="properties[Hubface Selection]" id="hubface-selection" class="hubface-selection" form="product-form-{{ section.id }}" {% if option.selected_value == value %}disabeld="false"{% else %}disabled="true"{% endif %}>
            {% for theValue in option.values %}
              {% assign splitValue = theValue | split: '/' %}
              {% if theValue contains '/' %}
                <option value="{{ splitValue[0] }}">{{ splitValue[0] }}</option>
              {% endif %}
            {% endfor %}       
          </select>
         
          <br>
          
          <label for="properties[Custom Spring Center]">Custom Spring Center Measurement:</label>
          <input id="custom-spring-center" class="" type="text" name="properties[Custom Spring Center]" form="product-form-{{ section.id }}">
          <br>
          <a href="#" class="axle_reference_chart">Custom Axle Reference Guide</a>

          
        </div>
        
        
        
        </div>

      
      
    {% endif %}
    

    {% if value contains 'Custom' and value != 'Custom Spring Center (+3 Day Build Time) + $130' %}
      <div id="{{ option.name | replace: " ","-"}}" class="fully_custom_variant custom-option-slide {% if option.selected_value == value %}custom-slide-active{% endif %}" >
        <div class="custom-option-inner-container">
          <label>Custom Hubface and Spring Center Measurements(Ex.82/67)</label>
          <input id="custom-hubface" class="" type="text" name="properties[Custom Hubface and Spring]" form="product-form-{{ section.id }}">
          <br>
          <a href="#" class="axle_reference_chart">Custom Axle Reference Guide</a>
        </div>
      </div>
    {% endif %}

    
    
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}

