{{ 'dawn14-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}

    
    
  
    
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  #shopify-section-{{section.id}} {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      #shopify-section-{{section.id}} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}


      <style>
         .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, black 0%, transparent 250px);
            box-shadow: inset 250px 0 250px -250px black;
            pointer-events: none; /* Allow clicks to pass through the overlay */
        }
        /* ================================================================= */
        .custom-overlay {
          display:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
        }

        .hero-sub-button-containers{
          display:flex;
          flex-direction:column;
          gap:1rem;
        }

        
      .video-background {
        /*position: relative;*/
        overflow: hidden;
      }
      .video-background__video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
      }

    
        /*
        @media (prefers-reduced-motion: no-preference) {
          .animate--ambient > img,
          .animate--ambient > svg {
            animation: animateAmbient 20s linear infinite;
          }
        
          @keyframes animateAmbient {
            0% {
              transform: rotate(0deg) translateX(1em) rotate(0deg) scale(1.2);
            }
            100% {
              transform: rotate(360deg) translateX(1em) rotate(-360deg) scale(1.2);
            }
          }
        }
        */

        @media (prefers-reduced-motion: no-preference) {
          .animate--ambient > img,
          .animate--ambient > svg {
            animation: animateAmbient 20s linear infinite;
          }
        
          @keyframes animateAmbient {
            0% {
              transform: rotate(0deg) translateX(.5em) rotate(0deg) scale(1.1);
            }
            100% {
              transform: rotate(360deg) translateX(.5em) rotate(-360deg) scale(1.1);
            }
          }
        }
      </style>

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div
  id="Banner-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  {%- if section.settings.use_video_background and section.settings.video_url != blank -%}
    
  <div class="video-background">
    <video autoplay muted loop playsinline class="video-background__video">
      <source src="{{ section.settings.video_url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
    
{%- elsif section.settings.image != blank -%}
  <div class="animate--ambient banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- liquid
      assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
      if section.settings.image_2 != blank
        assign image_class = 'banner__media-image-half'
      endif
      if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
        assign sizes = stacked_sizes
      elsif section.settings.image_2 != blank
        assign sizes = half_width
      else
        assign sizes = full_width
      endif
    -%}
    {{
      section.settings.image
      | image_url: width: 3840
      | image_tag:
        width: section.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: widths,
        fetchpriority: fetch_priority
    }}
  </div>
{%- elsif section.settings.image_2 == blank -%}
  <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
{%- endif -%}

  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient" style="padding: 2rem 2rem 3rem;">

      <style>
        .agent-2 {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
          color:#FFFFFF;
}

        @media screen and (max-width: 749px){
          .agent-2.banner__heading {
            font-size: 3.4rem;
            line-height: 1.2;
          }
        }

        @keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

        

      </style>

      
      <div style=" 
        backdrop-filter: blur(13px) saturate(180%);
        -webkit-backdrop-filter: blur(13px) saturate(180%);
        background-color: rgba(0, 0, 0, 0.58);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
        
        padding:2rem 0;">
      <div style="display:flex; justify-content:center; align-items:center;">
        <img width="80%" src="https://cdn.shopify.com/s/files/1/0052/2941/2425/files/TTPO_Logo_-_RBG_-_White_-_1.png?v=1719273512"/>
      </div>
      
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          
          {%- when 'heading' -%}
            <h2
              style="text-transform:uppercase;"
              class="agent-2 banner__heading inline-richtext {{ block.settings.heading_size }}"
              {{ block.shopify_attributes }}
            >
              {% assign split_heading = block.settings.heading | split:'///' %}
              <span class="heading-split-one">{{ split_heading[0] }}</span>
              <br>
              <span class="heading-split-two">{{ split_heading[1] }}</span>
               
              
            </h2>
    </div>
            
          {%- when 'text' -%}
            <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <p style="color:#FFFFFF; font-size:2rem;backdrop-filter: blur(3px) saturate(180%);
              -webkit-backdrop-filter: blur(3px) saturate(180%);
              background-color: rgba(0, 0, 0, 0.75);
              border-radius: 12px;
              border: 1px solid rgba(255, 255, 255, 0.125);
                padding:10px; font-family: Oswald;">{{ block.settings.text }}</p>
            </div>
          
          {%- when 'buttons' -%}
            <div
              class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }}
              {% if block.settings.btns_stacked %}style="display:flex; flex-direction:column;"{% endif %}
            >

               {% comment %}
               style="padding: 20px;
                backdrop-filter: blur(4px) saturate(154%);
                -webkit-backdrop-filter: blur(4px) saturate(154%);
                background-color: rgba(255, 255, 255, 0.45);
                border-radius: 4px;
                border: 1px solid rgba(209, 213, 219, 0.3);"
              {% endcomment %}
              <div class="hero-sub-button-containers">
              {%- if block.settings.button_label_1 != blank -%}
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                  style="background-color:#000;  border-radius:4px; width:100%; font-size:2rem; text-decoration:underline; min-width:250px;"
                >
                  {{- block.settings.button_label_1 | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  style="background-color:#0000d8;  border-radius:4px; width:100%; font-size:2rem; min-width:260px;"
                >
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_3 != blank -%}
                <a
                  {% if block.settings.button_link_3 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_3 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_3 %} button--secondary{% else %} button--primary{% endif %}"
                  style="background-color:#0000d8;  border-radius:4px; width:100%; font-size:2rem; min-width:260px;"
                >
                  {{- block.settings.button_label_3 | escape -}}
                </a>
              {%- endif -%}
            </div>
              
              <div class="hero-sub-button-containers">
              {%- if block.settings.button_label_4 != blank -%}
                <a
                  {% if block.settings.button_link_4 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_4 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_4 %} button--secondary{% else %} button--primary{% endif %}"
                  style="background-color:#0000d8;  border-radius:4px; width:100%; font-size:2rem; min-width:260px;"
                >
                  {{- block.settings.button_label_4 | escape -}}
                </a>
              {%- endif -%}

              {%- if block.settings.button_label_5 != blank -%}
                <a
                  {% if block.settings.button_link_5 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_5 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_5 %} button--secondary{% else %} button--primary{% endif %}"
                  style="background-color:#0000d8;  border-radius:4px; width:100%; font-size:2rem; min-width:260px;"
                >
                  {{- block.settings.button_label_5 | escape -}}
                </a>
              {%- endif -%}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
      
    </div>

    
  </div>

  <style>
 .custom-shape-divider-bottom-1719262779 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    
}

.custom-shape-divider-bottom-1719262779 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1719262779 .shape-fill {
    fill: #FFFFFF;
}
</style>


<div class="custom-shape-divider-bottom-1719262779">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
    </svg>
</div>
  
</div>

{% schema %}
{
  "name": "D14 Image Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 2 Overlay"
    },
    {
  "type": "checkbox",
  "id": "use_video_background",
  "label": "Use video background",
  "default": false
},
{
  "type": "url",
  "id": "video_url",
  "label": "Video MP4 URL"
},
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "Button 1"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "Button Style"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "Button 2"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Url 2"
        },
         {
          "type": "text",
          "id": "button_label_3",
          "default": "Button label",
          "label": "Button 3",
        },
        {
          "type": "url",
          "id": "button_link_3",
          "label": "Url 3"
        },
        {
          "type": "text",
          "id": "button_label_4",
          "default": "Button label",
          "label": "Button 4"
        },
        {
          "type": "url",
          "id": "button_link_4",
          "label": "Url 4"
        },
        {
          "type": "text",
          "id": "button_label_5",
          "default": "Button label",
          "label": "Button 5"
        },
        {
          "type": "url",
          "id": "button_link_5",
          "label": "Url 5"
        },
        {
          "type": "checkbox",
          "id": "btns_stacked",
          "default": false,
          "label": "Stack Buttons?"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "D14 Image Banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}