<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="main-modal-header">
      <div class="main-display">
        <div class="heading">
          <h3>{{ section.settings.heading }}</h3>
        </div>
        <div class="infor">
          <p>{{ section.settings.sub_heading }}</p>
        </div>
        <div class="call-button">
          <a href="tel:{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
        </div>
      </div>
    </div>
    <div class="spa"><span class="close">&times;</span></div>
    <div class="modal-header">
      <div class="modal-svg">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
            <g clip-path="url(#clip0_2_654)">
              <path d="M24.2777 27.4444C24.2777 27.7244 24.1665 27.9929 23.9686 28.1908C23.7706 28.3888 23.5021 28.5 23.2222 28.5H8.44442C8.21219 28.5 7.99053 28.7111 7.80053 28.8483L4.22219 31.6666V14.7778C4.22219 14.4978 4.33341 14.2293 4.53136 14.0314C4.72932 13.8334 4.9978 13.7222 5.27775 13.7222H9.35219V11.6111H5.27775C4.4379 11.6111 3.63244 11.9447 3.03858 12.5386C2.44471 13.1324 2.11108 13.9379 2.11108 14.7778V33.7777C2.11265 33.9738 2.16879 34.1655 2.27319 34.3314C2.3776 34.4974 2.52615 34.6309 2.70219 34.7172C2.8718 34.7943 3.0588 34.8252 3.2442 34.8066C3.42959 34.7881 3.60678 34.7208 3.75775 34.6116L9.19386 30.6111H23.3805C23.7806 30.6229 24.1788 30.5525 24.5506 30.4041C24.9223 30.2558 25.2596 30.0327 25.5416 29.7487C25.8237 29.4647 26.0444 29.1259 26.1901 28.7531C26.3358 28.3803 26.4035 27.9816 26.3889 27.5816V26.3889H24.2777V27.4444Z" fill="black"/>
              <path d="M33.7778 13.9545V24.2145L30.0833 21.3328C29.8991 21.1898 29.6726 21.1118 29.4394 21.1111H14.7778C14.4978 21.1111 14.2293 20.9999 14.0314 20.802C13.8334 20.604 13.7222 20.3355 13.7222 20.0556V7.3889C13.7222 7.10894 13.8334 6.84046 14.0314 6.64251C14.2293 6.44455 14.4978 6.33334 14.7778 6.33334H23.75C23.7527 5.61952 23.8522 4.90936 24.0455 4.22223H14.7778C13.9379 4.22223 13.1324 4.55586 12.5386 5.14972C11.9447 5.74359 11.6111 6.54904 11.6111 7.3889V20.0556C11.6111 20.8954 11.9447 21.7009 12.5386 22.2947C13.1324 22.8886 13.9379 23.2222 14.7778 23.2222H29.0805L34.1261 27.1383C34.2761 27.2492 34.4528 27.3184 34.6382 27.3388C34.8236 27.3592 35.0111 27.3301 35.1816 27.2545C35.3613 27.1689 35.5131 27.0343 35.6195 26.8662C35.726 26.6982 35.7827 26.5034 35.7833 26.3045V13.0572C35.1601 13.4487 34.485 13.7507 33.7778 13.9545Z" fill="black"/>
              <path d="M31.6667 11.6111C34.5815 11.6111 36.9445 9.24816 36.9445 6.33332C36.9445 3.41848 34.5815 1.05554 31.6667 1.05554C28.7519 1.05554 26.3889 3.41848 26.3889 6.33332C26.3889 9.24816 28.7519 11.6111 31.6667 11.6111Z" fill="#0000D8"/>
            </g>
            <defs>
              <clipPath id="clip0_2_654">
                <rect width="38" height="38" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>
        <h2>{{ section.settings.expert_title }}</h2>
      </div>
    </div>
    <div class="modal-body">
      {% assign checkBlock = section.blocks | where: "type", "expert" %}
      {% if checkBlock != blank %}
      {% for block in checkBlock %}
      <div class="expert-team">
        <div class="expert-one">
          <div class="expert-image">
            <img loading="lazy" width="50px" height="50px" src="{{ block.settings.expert-image | img_url: 'master' }}">
          </div>
          <div class="expert-content" style="text-align:center;">
            <h3>{{ block.settings.expert-heading }}  <span class="tpe-title">Trailer Parts Expert</span></h3>
            <p>Call or Text:<span><a href="tel:+{{block.settings.expert-call | remove: '-' | remove: '(' | remove: ')' | remove: ' ' }}">{{ block.settings.expert-call }}</a></span></p>
            {% if block.settings.expert_addition %}<span>{{ block.settings.expert_addition }}</span>{% endif %}
            <p>Email:<span>{{ block.settings.expert-mail }}</span></p>
            {% comment %}{% if block.settings.expert_addition %}<span>{{ block.settings.expert_addition }}</span>{% endif %}{% endcomment %}
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="modal-footer">
      <div class="modal-svg">
        <div class="svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
            <g clip-path="url(#clip0_2_654)">
              <path d="M24.2777 27.4444C24.2777 27.7244 24.1665 27.9929 23.9686 28.1908C23.7706 28.3888 23.5021 28.5 23.2222 28.5H8.44442C8.21219 28.5 7.99053 28.7111 7.80053 28.8483L4.22219 31.6666V14.7778C4.22219 14.4978 4.33341 14.2293 4.53136 14.0314C4.72932 13.8334 4.9978 13.7222 5.27775 13.7222H9.35219V11.6111H5.27775C4.4379 11.6111 3.63244 11.9447 3.03858 12.5386C2.44471 13.1324 2.11108 13.9379 2.11108 14.7778V33.7777C2.11265 33.9738 2.16879 34.1655 2.27319 34.3314C2.3776 34.4974 2.52615 34.6309 2.70219 34.7172C2.8718 34.7943 3.0588 34.8252 3.2442 34.8066C3.42959 34.7881 3.60678 34.7208 3.75775 34.6116L9.19386 30.6111H23.3805C23.7806 30.6229 24.1788 30.5525 24.5506 30.4041C24.9223 30.2558 25.2596 30.0327 25.5416 29.7487C25.8237 29.4647 26.0444 29.1259 26.1901 28.7531C26.3358 28.3803 26.4035 27.9816 26.3889 27.5816V26.3889H24.2777V27.4444Z" fill="black"/>
              <path d="M33.7778 13.9545V24.2145L30.0833 21.3328C29.8991 21.1898 29.6726 21.1118 29.4394 21.1111H14.7778C14.4978 21.1111 14.2293 20.9999 14.0314 20.802C13.8334 20.604 13.7222 20.3355 13.7222 20.0556V7.3889C13.7222 7.10894 13.8334 6.84046 14.0314 6.64251C14.2293 6.44455 14.4978 6.33334 14.7778 6.33334H23.75C23.7527 5.61952 23.8522 4.90936 24.0455 4.22223H14.7778C13.9379 4.22223 13.1324 4.55586 12.5386 5.14972C11.9447 5.74359 11.6111 6.54904 11.6111 7.3889V20.0556C11.6111 20.8954 11.9447 21.7009 12.5386 22.2947C13.1324 22.8886 13.9379 23.2222 14.7778 23.2222H29.0805L34.1261 27.1383C34.2761 27.2492 34.4528 27.3184 34.6382 27.3388C34.8236 27.3592 35.0111 27.3301 35.1816 27.2545C35.3613 27.1689 35.5131 27.0343 35.6195 26.8662C35.726 26.6982 35.7827 26.5034 35.7833 26.3045V13.0572C35.1601 13.4487 34.485 13.7507 33.7778 13.9545Z" fill="black"/>
              <path d="M31.6667 11.6111C34.5815 11.6111 36.9445 9.24816 36.9445 6.33332C36.9445 3.41848 34.5815 1.05554 31.6667 1.05554C28.7519 1.05554 26.3889 3.41848 26.3889 6.33332C26.3889 9.24816 28.7519 11.6111 31.6667 11.6111Z" fill="#0000D8"/>
            </g>
            <defs>
              <clipPath id="clip0_2_654">
                <rect width="38" height="38" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </div>
        <h2>{{ section.settings.service_title }}</h2>
      </div>
    </div>
    {% assign checkBlock = section.blocks | where: "type", "service" %}
    {% if checkBlock != blank %}
      <div class="modal-body" style="padding:0px 10px">
        {% for block in checkBlock %}
        <div class="service-team">
          <div class="expert-one">
            <div class="service-image">
              <img src="{{ block.settings.service-image | img_url: 'master' }}">
            </div>
            <div class="service-content">
              <h3>{{ block.settings.service-heading }} <br class="mobile-break"><span> Customer Service Specialist </span></h3> 
              <p>Call or Text:<span><a href="tel:+{{ block.settings.service-call | remove: '-' | remove: '(' | remove: ')' | remove: ' ' }}">{{ block.settings.service-call }}</a></span></p>
              <p>Email:<span>{{ block.settings.service-mail }}</span></p>
              <span>{{ block.settings.service_addition }}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
<script>
  {% for block in section.blocks %}
  {% if block.settings.expert-heading != blank %}
      window.expert_data.push({
          image: '{{ block.settings.expert-image | img_url: 'master' }}',
          name: '{{ block.settings.expert-heading }}',
          phone: '{{ block.settings.expert-call }}'
      });
  {% endif %}
  {% endfor %}

  let expertLength = window.expert_data.length;
  
  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

  let randomRange = getRandomInt(0, expertLength)

  //console.log(randomRange)

  window.chosen_expert = window.expert_data[randomRange]

  //console.log("Testing TESTINGT TESTING")
  //console.log(randomRange)
  //console.log(window.expert_data)
  //console.log(window.chosen_expert) 

  if (window.chosen_expert != undefined) {
  let expertLinkContainer = document.querySelector('.cart-drawer-call-expert-phone');
  let expertImage = document.querySelector('#expert_popup img');
  let expertButton = document.querySelector('.cart-drawer-call-expert-text');

  const cleanPhone = window.chosen_expert.phone.replace(/[()\-\s]/g, '').trim();

  expertLinkContainer.href = `tel:${cleanPhone}`;
  expertImage.src = window.chosen_expert.image;
  expertButton.innerHTML = `Click to call ${window.chosen_expert.name} <span style="white-space:nowrap;">${window.chosen_expert.phone}</span>`;

  // ✅ Attach gtag event listener now that link is in place
  expertLinkContainer.addEventListener('click', function () {
    gtag('event', 'phone_click', {
      phone_number: cleanPhone,
      expert_name: window.chosen_expert.name,
      event_category: 'engagement',
      event_label: 'Expert Call'
    });
  });
}

  {% comment %}
                  document.querySelector('.help-images').innerHTML = ''
                  img.src = random_expert.image;    
                  document.querySelector('.help-images').appendChild(img);
                  expertPhone.href = `tel:${random_expert.phone.replace(/[()\-\s]/g, '').trim()}`
                  expertContent.innerHTML = `Click to call ${random_expert.name} <br> ${random_expert.phone}`
  {% endcomment %}
  
</script>

{% comment %}

                  EXPERT CODE WITH JAVASCRIPT ONLY
                  
             window.expert_data = [
    { name: "John ", image: "https://cdn.shopify.com/s/files/1/0052/2941/2425/files/jason_500x500_bcabf219-9812-48f6-97c0-def31ad5e0fd.webp?v=1699544640", phone: "(936) 312-3337" },
    { name: "Trevor", image: "https://cdn.shopify.com/s/files/1/0052/2941/2425/files/trevor.jpg?v=1666643179", phone: "(936) 349-6220" },
    { name: "Kyle", image: "https://cdn.shopify.com/s/files/1/0052/2941/2425/files/Kyle_13fe604a-f1c1-456d-8dc9-e976581d10d2.jpg?v=1704474670", phone: "(936) 226-3664" },
    { name: "Abraham", image: "https://cdn.shopify.com/s/files/1/0052/2941/2425/files/AB.jpg?v=1719953248", phone: "(936)-245-8220" }
];

let expertLength = window.expert_data.length;

function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

let randomRange = getRandomInt(0, expertLength - 1);
window.chosen_expert = window.expert_data[randomRange];

if (window.chosen_expert) {
    let expertLinkContainer = document.querySelector('.cart-drawer-call-expert-phone');
    let expertImage = document.querySelector('#expert_popup img');
    let expertButton = document.querySelector('.cart-drawer-call-expert-text');

    expertLinkContainer.href = `tel:${window.chosen_expert.phone.replace(/[()\-\s]/g, '').trim()}`;
    expertImage.src = window.chosen_expert.image;
    expertButton.innerHTML = `Click to call ${window.chosen_expert.name} <span style="white-space:nowrap;">${window.chosen_expert.phone}</span>`;
}    
{% endcomment %}
{% schema %}
  {
    "name": "Expert",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub heading"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "text",
        "id": "button_link",
        "label": "Phone Number"
      },
      {
        "type": "text",
        "id": "expert_title",
        "label": "Expert Title"
      },
      {
        "type": "text",
        "id": "service_title",
        "label": "Service Title"
      }
    ],
    "blocks":[
      {
        "type": "expert",
        "name": "expert",
        "settings": [
          {
            "type": "image_picker",
            "id": "expert-image",
            "label": "expert-image"
          },
          {
            "type": "text",
            "id": "expert-heading",
            "default": "Mike <span>Trailer Parts Expert</span>",
            "label": ".expert-heading"
          },
          {
            "type": "text",
            "id": "expert-call",
            "default": "936 123-1234",
            "label": ".expert-call"
          },
          {
            "type": "text",
            "id": "expert-mail",
            "default": "mike@ttpo.co",
            "label": ".expert-call"
          },
          {
            "type": "text",
            "id": "expert_addition",
            "default": "se hablo espanol",
            "label": "Addition Info"
          }
        ]
      },
      {
        "type": "service",
        "name": "service",
        "settings": [
          {
            "type": "image_picker",
            "id": "service-image",
            "label": "service-image"
          },
          {
            "type": "text",
            "id": "service-heading",
            "default": "Mike <span>Trailer Parts Expert</span>",
            "label": "service-heading"
          },
          {
            "type": "text",
            "id": "service-call",
            "default": "936 123-1234",
            "label": "service-call"
          },
          {
            "type": "text",
            "id": "service-mail",
            "default": "mike@ttpo.co se hablo espanol",
            "label": "service-mail"
          },
          {
            "type": "text",
            "id": "service_addition",
            "default": "se hablo espanol",
            "label": "Addition Info"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Expert"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}