<section>

  <!-- Dynamic Product Description Code -->
    {% if product.metafields.custom.alt_titles_and_descriptions %} <!-- If the alt_titles_and_descriptions metaobject has a value, run the following code that checks for validity and structure -->
    
            {% for product_option in product.options_with_values %} <!-- Grabbing the option values for the first option and placing them into an array for the next conditional check --> 
              {% if forloop.index == 1 %}
                {% for value in product_option.values %}
                  {% if forloop.last %}
                    {% assign product_option_one_values = product_option_one_values | append: value %}
                  {% else %}
                    {% assign product_option_one_values = product_option_one_values | append: value | append: ", "%}
                  {% endif %}                 
                {% endfor %}
                  {% endif %}
            {% endfor %}

            {% assign product_option_one_values_array = product_option_one_values | split: ", " %}
    
            {% assign numberOfAltTitlesAndDescriptions = 0 %}
            {% for metaobject in product.metafields.custom.alt_titles_and_descriptions.value %}
              {% assign numberOfAltTitlesAndDescriptions = numberOfAltTitlesAndDescriptions | plus: 1 %}
              <script>console.log('{{ product_option_one_values_array[forloop.index0] }}')</script>
            {% endfor %}

            {% if numberOfAltTitlesAndDescriptions == product_option_one_values_array.size %} <!-- Continue if the size of the option1 value array is the same as the titles_array (meaning the titles_array was properly formatted) -->
              {% assign dynamic_green_light = true %} 

            {% endif %}                                    
  {% endif %}
  <!-- Dynamic Product Description Code -->
  
  <div id="product-tabs-main-body" class="product-inner-tabbing section-spacing">
    <div class="bt-container" id="bt-container">
      <ul class="product_tabbing" id="Add_li">
        <li><span data-id="#descriptions">Product Information</span></li>
        {%- if product.metafields.custom.video_link %}<li><span data-id="#video">Videos</span></li>{%- endif %}
        {%- if product.metafields.custom.howto_link1 %}<li><span data-id="#howto">How To</span></li>{%- endif %}
        <li><span data-id="#reviews">Reviews</span></li>
        {%- if product.metafields.custom.answered_questions1 %}<li><span data-id="#faq">Answered Questions</span></li>{%- endif %}
        
        {% for tabbing in product.metafields.custom.product_tabbing.value %}
        <li><span data-id="#customtabing{{ forloop.index }}">{{ tabbing.tab_header }}</span></li>
        {% endfor %}
        
      </ul>
      <!-- ======================================================= PRODUCT DESCRIPTION SECTION ======================================================= -->
      <div id="descriptions" class="product-tabing-body">
        <div class="product__description rte quick-add-hidden">

          {% if dynamic_green_light %}
                    {% for metaobject in product.metafields.custom.alt_titles_and_descriptions.value %}
                      {% assign metaObjDescription = metaobject.description_body | metafield_text %}
                      {% if metaObjDescription == 'DEFAULT' or metaObjDescription == blank %}
                        <div {% if product_option_one_values_array[forloop.index0] contains product.selected_or_first_available_variant.option1 %}{% else %}style="display:none;"{% endif %} data-product-option-one="{{ product_option_one_values_array[forloop.index0] }}" class="ttpo_product_description">{{product.description}}</div>
                      {% else %}                     
                        <div {% if product_option_one_values_array[forloop.index0] contains product.selected_or_first_available_variant.option1 %}{% else %}style="display:none;"{% endif %} data-product-option-one="{{ product_option_one_values_array[forloop.index0] }}" class="ttpo_product_description">{{metaobject.description_top_image | metafield_tag }}{{metaobject.description_body | metafield_tag}}{{metaobject.description_bottom_image | metafield_tag }}</div>
                      {% endif %}
                    {% endfor %}
        
                    {% else %}
        
                    <div>
                      {% if product.metafields.custom.product_information_image %}
                        <img src="{{ product.metafields.custom.product_information_image.value.image | img_url : 'master' }}" alt="{{ image.image.alt | escape }}">
                      {% endif %}
                      {%- if product.metafields.custom.product_information_description %}
                        {{ product.metafields.custom.product_information_description | metafield_tag }}
                        {% endif %}
                      </div>
                      {{ product.description }}
                      
                    
                  {% endif %}

          {% comment %}
          <div>
          {% if product.metafields.custom.product_information_image %}
            <img src="{{ product.metafields.custom.product_information_image.value.image | img_url : 'master' }}" alt="{{ image.image.alt | escape }}">
          {% endif %}
          {%- if product.metafields.custom.product_information_description %}
            {{ product.metafields.custom.product_information_description | metafield_tag }}
            {% endif %}
          </div>
          {{ product.description }}
          {% endcomment %}
          </div>
          
      </div>
        
      <!-- ======================================================= PRODUCT DESCRIPTION SECTION ======================================================= -->
      <div id="reviews" class="product-tabing-body">
        {% comment %}
        <div id="okendo-main-widget-wrapper">{% render 'okendo-reviews-widget', product: product %}</div>      
        {% endcomment %}

        {%- for block in section.blocks -%}
          {% render block %}
        {%- endfor -%}
      </div>
      
      {%- if product.metafields.custom.video_link %}<div id="video" class="product-tabing-body">
        <div class="video-container">{{ product.metafields.custom.video_link }}</div>
      </div>{%- endif %}
  
     {% comment %} How to tabbing {% endcomment %}
      {%- if product.metafields.custom.howto_link1 %}
        <div id="howto" class="product-tabing-body">{{ product.metafields.custom.howto_link1 }}</div>
      {%- endif %}
          
      {% if product.metafields.custom.answered_questions1 %}
      <div id="faq" class="product-tabing-body">
        {%- for i in (1..5) %}
          {%- capture answered_questions %}answered_questions{{i}}{% endcapture %}
          {%- assign answered_questions1 = product.metafields.custom[answered_questions] | split : '[--]' -%}
          {% if product.metafields.custom[answered_questions] %}
            <div class="faq-body">
              <h4>{{ answered_questions1[0] }}<span class="plus-min"></span></h4>
              <div class="faq-content">{{ answered_questions1[1] }}</div>
            </div>
          {% endif %}
        {%- endfor %}
      </div>
      {% endif %}
      
      {% for tabbing in product.metafields.custom.product_tabbing.value %}
        <div id="customtabing{{ forloop.index }}" class="product-tabing-body">
          <div class="product__description rte quick-add-hidden">{{ tabbing.tab_body }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

  
  <script>
   
                              
    document.addEventListener( 'DOMContentLoaded', function () {
      $('.product_tabbing').each(function(){
        var active, content, links = $(this).find('span');
        active = links.first().addClass('active');

        content = $(active.attr('data-id'));
        links.not(':first').each(function () {
          $($(this).attr('data-id')).hide();
        });
        $(this).find('span').click(function(e){
          active.removeClass('active');
          content.hide();
          active = $(this);
          content = $($(this).attr('data-id'));
          active.addClass('active');
          content.show();
          return false;
        });
      });
    }, false );

    
    
    
     /*
    $('#reviews-wrapper').on('click', function(){
      console.log('clicked')
      $('.product_tabbing span[data-id="#reviews"]').trigger( "click" );
    });
    */
    
    /*
    $('.faq-body h4').on('click',function(){
      $('.faq-body h4').not(this).removeClass('active');
      $('.faq-content').not($(this).siblings()).slideUp().removeClass('active')
      $(this).toggleClass('active');
      $(this).siblings().slideToggle().toggleClass('active');
    });
    */

    document.querySelectorAll('.faq-body h4').forEach(function(header) {
    header.addEventListener('click', function() {
        document.querySelectorAll('.faq-body h4').forEach(function(otherHeader) {
            if (otherHeader !== header) {
                otherHeader.classList.remove('active');
            }
        });

        document.querySelectorAll('.faq-content').forEach(function(content) {
            if (content !== header.nextElementSibling) {
                content.style.display = 'none';
                content.classList.remove('active');
            }
        });

        header.classList.toggle('active');
        
        let siblingContent = header.nextElementSibling;
        if (siblingContent) {
            siblingContent.style.display = (siblingContent.style.display === 'block') ? 'none' : 'block';
            siblingContent.classList.toggle('active');
        }
    });
});

document.addEventListener('DOMContentLoaded', function() {
    let reviewsWrapper = document.querySelector('#reviews-wrapper');
    console.log(reviewsWrapper);

    if (reviewsWrapper) { // Check if the element exists
        reviewsWrapper.addEventListener('click', function() {
            // console.log('Reviews Clicked!!!')
            let reviewsTab = document.querySelector('.product_tabbing span[data-id="#reviews"]');
            if (reviewsTab) { // Check if reviewsTab exists
                reviewsTab.click();
                let widgetWrapper = document.querySelector('#okendo-main-widget-wrapper');
                if (widgetWrapper) { // Check if the widgetWrapper exists
                    widgetWrapper.scrollIntoView();
                }
            }
        });
    }
}, false);

    
  </script>

  

  
</section>
{% schema %}
 {
  "name": "Product Detail Tabs",
  "limit": 1,
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    
  ],
   "blocks": [
    {
      "type": "@app"
    }
   ],
  "presets": [
    {
      "name": "Product Detail Tabs"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}