<section>
  <div id="product-tabs-main-body" class="product-inner-tabbing section-spacing">
    <div class="bt-container" id="bt-container">
      <ul class="product_tabbing" id="Add_li">
        <li><span data-id="#descriptions">Product Information</span></li>
        {%- if product.metafields.custom.video_link %}<li><span data-id="#video">Videos</span></li>{%- endif %}
        {%- if product.metafields.custom.howto_link1 %}<li><span data-id="#howto">How To</span></li>{%- endif %}
        <li><span data-id="#reviews">Reviews</span></li>
        {%- if product.metafields.custom.answered_questions1 %}<li><span data-id="#faq">Answered Questions</span></li>{%- endif %}
        
        {% for tabbing in product.metafields.custom.product_tabbing.value %}
        <li><span data-id="#customtabing{{ forloop.index }}">{{ tabbing.tab_header }}</span></li>
        {% endfor %}
        
      </ul>
      <div id="descriptions" class="product-tabing-body">
        <div class="product__description rte quick-add-hidden">
          <div>
          {% if product.metafields.custom.product_information_image %}
            <img src="{{ product.metafields.custom.product_information_image.value.image | img_url : 'master' }}" alt="{{ image.image.alt | escape }}">
          {% endif %}
          {%- if product.metafields.custom.product_information_description %}
            {{ product.metafields.custom.product_information_description | metafield_tag }}
            {% endif %}
          </div>
          {{ product.description }}
          </div>
      </div>
      <div id="reviews" class="product-tabing-body">
        {% comment %}
        <div class="yotpo yotpo-main-widget"
          data-product-id="{{ product.id }}"
          data-name="{{ product.title | escape }}"
          data-url="{{ shop.url }}{{ product.url }}"
          data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
          data-price="{{ variant.price | money_without_currency }}"
          data-currency="{{ shop.currency }}"
          data-description="{{ product.description | escape }}">
        </div>
        {% endcomment %}

        <div class="yotpo-widget-instance" data-yotpo-instance-id="428239" data-yotpo-product-id="{{product.id}}" data-yotpo-name="{{ product.title | escape }}" data-yotpo-url="{{ shop.url }}{{ product.url }}" data-yotpo-image-url="{{ product.featured_image | product_img_url: "large" | prepend: "https:" | replace: '?', '%3F' | replace: '&','%26'}}" data-yotpo-price="{{ product.price | divided_by: 100.00 }}" data-yotpo-currency="{{ shop.currency }}" data-yotpo-description="{{ product.description | escape }}"></div>
      </div>
      
      {%- if product.metafields.custom.video_link %}<div id="video" class="product-tabing-body">
        <div class="video-container">{{ product.metafields.custom.video_link }}</div>
      </div>{%- endif %}
  
     {% comment %} How to tabbing {% endcomment %}
      {%- if product.metafields.custom.howto_link1 %}
        <div id="howto" class="product-tabing-body">{{ product.metafields.custom.howto_link1 }}</div>
      {%- endif %}
          
      {% if product.metafields.custom.answered_questions1 %}
      <div id="faq" class="product-tabing-body">
        {%- for i in (1..5) %}
          {%- capture answered_questions %}answered_questions{{i}}{% endcapture %}
          {%- assign answered_questions1 = product.metafields.custom[answered_questions] | split : '[--]' -%}
          {% if product.metafields.custom[answered_questions] %}
            <div class="faq-body">
              <h4>{{ answered_questions1[0] }}<span class="plus-min"></span></h4>
              <div class="faq-content">{{ answered_questions1[1] }}</div>
            </div>
          {% endif %}
        {%- endfor %}
      </div>
      {% endif %}
      
      {% for tabbing in product.metafields.custom.product_tabbing.value %}
        <div id="customtabing{{ forloop.index }}" class="product-tabing-body">
          <div class="product__description rte quick-add-hidden">{{ tabbing.tab_body }}</div>
        </div>
      {% endfor %}
    </div>
  </div>

  
  <script>
    document.addEventListener( 'DOMContentLoaded', function () {
      $('.product_tabbing').each(function(){
        var active, content, links = $(this).find('span');
        active = links.first().addClass('active');

        content = $(active.attr('data-id'));
        links.not(':first').each(function () {
          $($(this).attr('data-id')).hide();
        });
        $(this).find('span').click(function(e){
          active.removeClass('active');
          content.hide();
          active = $(this);
          content = $($(this).attr('data-id'));
          active.addClass('active');
          content.show();
          return false;
        });
      });
    }, false );

    let reviewsWrapper = document.querySelector('#reviews-wrapper')
    reviewsWrapper.addEventListener('click', function(){
      //console.log('Reviews Clicked!!!')
      let reviewsTab = document.querySelector('.product_tabbing span[data-id="#reviews"]')
      reviewsTab.click();
      document.querySelector('.yotpo-nav-content').scrollIntoView();
     
    })
    
    /*  
    $(document).on('click','#reviews-wrapper', function(){
      console.log('clicked')
      $('.product_tabbing span[data-id="#reviews"]').trigger( "click" );
    });
    */
    
    $('.faq-body h4').on('click',function(){
      $('.faq-body h4').not(this).removeClass('active');
      $('.faq-content').not($(this).siblings()).slideUp().removeClass('active')
      $(this).toggleClass('active');
      $(this).siblings().slideToggle().toggleClass('active');
    });

 
    
  </script>

  

  
</section>
{% schema %}
 {
  "name": "Product Detail Tabs",
  "limit": 1,
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Product Detail Tabs"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}